*.log*
.nuxt
.nitro
.cache
.output
.env.example
.husky
.pnpm-store
.vscode
node_modules

Dockerfile*
docker-compose*
.dockerignore
.gitignore
.gitlab-ci.yml
.eslintrc.json
.gitpod.yml
.prettierrc
.editorconfig
.idea
README.md
